body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
}

.external-container {
    margin-top: 10%;
}

.section {
    margin: 1% 3%;
    padding: 2.5%;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.photographer-info {
    align-self: flex-start;
    flex-grow: 2;
    max-width: 50%;
}

.unsplash-credit {
    align-self: flex-end;
}