body {
    background: #1d1b1b;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto;
}

.external-container {
    display: flex;
    justify-content: center;
}

.section {
    margin: 5%;
    padding: 2.5%;
}